html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
*,
:before,
:after {
  box-sizing: inherit;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
.btn {
  margin: 0 auto;
  border: solid 3px #fff;
}
.btn_header {
      width: 280px;
      height: 68px;
      padding: 25px 0 30px 0;
      margin-bottom: 41px;
}
 .btn_header a {
          text-decoration: none;
          font-family: Lato;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.17;
          letter-spacing: 0.45px;
          text-align: center;
          color: #fff;
}

.btn_log {
      width: 80%;
      height: 50px;
      background-color:rgb(119, 22, 78); 
      border:none;
      color: #fff;
}

.header { 
  min-height: 880px;
  width: 100%;
  padding: 31px 0 240px 0 ;
  background: url(main_image.png) no-repeat 100% / cover; 
}
.header__top {
      display: flex;
      justify-content: space-between;
      align-items:center;
      margin-bottom: 292px;
}
.header__nav ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
}
.header__nav li{
          padding-right: 30px;
          text-transform: uppercase;
}

.header__link a {
      text-decoration: none;
      text-shadow: -0.9px 0.5px 40px rgba(1, 1, 1, 0.55);
      font-family: Lato;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.14;
      letter-spacing: 0.7px;
      text-align: left;
      color: #fff;
}
.header__nav{
      display: flex;
      justify-content: space-evenly;
      align-items:center;
}
.header__content {
      text-align: center;
}
.header__content h1 {
          text-shadow: -0.9px 0.5px 40px rgba(1, 1, 1, 0.55);
          font-family: Lato;
          font-size: 100px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 5px;
          color: #fff;
          margin-bottom: 41px;
}
.header__content h2 {
          text-shadow: -0.9px 0.5px 40px rgba(1, 1, 1, 0.55);
          font-family: TimesNewRomanPS-MT;
          font-size: 36px;
          font-weight: bold;
          font-stretch: normal;
          font-style: italic;
          letter-spacing: 1.8px;
          color: rgba(255, 255, 255, 0.7);
}
.header__content h4 {
          text-shadow: -0.9px 0.5px 40px rgba(1, 1, 1, 0.55);
          font-family: Lato;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 0.7px;
          color: #fff;
          text-transform: uppercase;
}
